.button {

    border : none ;
    outline : none ; 
    padding-inline : 1.5 rem;
    padding-block : 0.6 rem;

    background-color : var(--blue-primary);
    border-radius : 4px;
    font-size : 14px;
    font-weight : 600;
    cursor : pointer;
    color : white ;

    transition : all 0.3s ease-in-out;


    &:hover{
        background-color : var(--blue-secondary);
    }


    &.primary-button{
        background-color : var(--blue-primary);
    }
    &.danger-button{
        background-color : var(--danger-primary);
    }
}